%subtitulos{
    color:$colorTitulos;
    font-family: $fuenteTitulos;
    font-size: 3rem;
    margin: 50px 0;
}
%titulosMedias{
    font-size: 2rem;
}
%boxShadow{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}