.tarjetas_personalizado{
    display: flex;
    justify-content: center;
    @media screen and (max-width:768px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (max-width:320px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tarjetas_contenido{
        width: 400px;
        height: auto;
        margin: 20px;
        padding: 20px;
        background: $colorTerciario;
        border-radius: 25px;
        text-align: center;
        transition: transform 1s;
        &.tarjetas_contenido:hover{
            transform: translate(15px,0);
        }
        @media screen and (max-width:425px){
            width: 300px;
            height: auto;
        }
        @media screen and (max-width:320px){
            width: 250px;
            height: auto;
        }
    }
}
.show{
    background-color: $colorDetalles;
}
.div_medias{
    @media screen and (max-width:768px){
        width: 60%;
        height: auto;
    }
    @media screen and (max-width:425px){
        width: auto;
        height: auto;
    }
}
.row_perso{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    @extend %boxShadow;
    .carousel{
        .carousel-inner{
            @extend %boxShadow;
            margin: 25px 0;
        }
    }
    p{
        font-weight: bold;
        text-transform: uppercase;
        @media screen and (max-width:768px){
            width: 75%;
            height: auto;
            text-align: center;
        }
        @media screen and (max-width:320px){
            text-align: center;
            width: 100%;
        }
    }
    .carousel-indicators li{
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    .netx-y-prev .iconos{
        width: 80px;
        height: 80px;
    }
}
