.informacion_nosotros{
    width: 80%;
    margin: auto;
    .tarjetas_nosotros{
        display: flex;
        margin: 30px;
        background-color: #f4e8ff;
        border-radius: 8px;
        padding: 10px;
        transition: transform 1s;
        @extend %boxShadow;
        @media screen and (max-width:1024px){
            align-items: center;
        }
        @media screen and (max-width:425px) {
            margin: 10px 0;
            width: auto;
            height: auto;
            flex-direction: column;
            
        }
        &.reversa{
            flex-direction: row-reverse;
            background-color: #ffdee5;
            @media screen and (max-width:425px) {
                flex-direction: column;
            }
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                width: 90%;
            }
        }
            img{
                width: 250px;
                height: 350px;
                object-fit: cover;
                border-radius: 10px;
                @media screen and (max-width:425px) {
                    max-width: 200px;
                    height: auto;
                }
            }
    }
}
.tarjetas_nosotros:hover{
    transform: translate(20px,0);
}