.formulario{
    width: 500px;
    height: auto;
    background-color: $colorFondos;
    @extend %boxShadow;
    @media screen and (max-width:425px){
        padding-left:20px;
        padding-right:20px;
        padding: 0;
        width: 90%;
        height: auto;
    }
}
.formulario div{
    background-color: $colorTerciario;
    padding: 3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:$colorTitulos;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    @media screen and (max-width:425px){
        display: flex;
        flex-direction: column;
    }
    .formulario div div{
        @media screen and (max-width:425px){
            font-size: 1rem;
            display: flex;
            flex-direction: column;
        }
    }
    .btn_form{
        font-weight: bold;
        background-color: $colorDetalles;
        margin-right: 50px;
        @media screen and (max-width:768px){
            margin-right: 65px;
        }
        @media screen and (max-width:425px){
            margin: 20px 0;
        }
    }
}
.formulario div div textarea{
    border-radius: 5px;
    @extend %boxShadow;
}
