.galeria_de_img div{
    width: auto;
    height: auto;
    @media screen and (max-width:768px){
        display: flex;
        justify-content: center !important;
    }
    @media screen and (max-width:320px){
        display: flex;
        justify-content: center !important;
    }
    div{
        padding: 10px;
        img{
            max-width: 500px;
            max-height: 400px;
            object-fit: cover;
            box-shadow: 0 0 8px 0px rgba(0,0,0,0.2);
            transition: transform 1s;
            @media screen and (max-width:320px){
                max-width: 100% ;
                max-height: 100%;
                object-fit: contain;
            }
        }
    }
}
.galeria_de_img div img:hover{
    cursor: pointer;
    transform: scale(1.1);
}