@import "variables";
@import "mixins";
@import "extend";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    background-color: $colorFondos;
}

h2{
    margin: 30px 0;
    text-align: center;
    color: $colorTitulos;
    font-size: 3rem;
    @media screen and (max-width:768px){
        font-size: 2.5rem;
        font-weight:bolder;
    }
    @media screen and (max-width:320px){
        font-size: 1.7rem;
        font-weight:bolder;
    }
}

h3{
    text-align: center;
    color: $colorTitulos;
    font-size: 2rem;
    @media screen and (max-width:768px){
        font-size: 1.7rem;
        font-weight:bolder;
        }
    @media screen and (max-width:320px){
        font-size: 1.2rem;
        font-weight:bolder;
    }
}
p{
    text-align: center;
    font-size: 1rem;
    color:$colorTextos;
}
/* INDEX */
@import "header";
@import "section-principal";

/* FOOTER */

footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b5b5b5;
    border-top: solid 3px $colorTextos;
    @media screen and (max-width:425px){
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    @media screen and (max-width:320px){
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    p{
        padding-right:50px;
        color: $colorTitulos;
        font-weight: bold;
        text-align: center;
        margin: 10px 0;
        @media screen and (max-width:425px){
            padding: 0;
            font-size: 13px;
        }
        @media screen and (max-width:320px){
            margin: 10px 0;
            padding: 0;
        }
    }
    .redes_footer{
        display: flex;
        justify-content: space-around;
        a{
            padding: 0 10px;
            border-left: solid 3px black;
            @media screen and (max-width:768px){
                margin: 10px 0;
            }
            img{
                width: 40px;
                height: 40px;
                @media screen and (max-width:768px) {
                    width: 40px;
                    height: 40px;
                }
                @media screen and (max-width:320px){
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
@import"section-personalizados";
@import"section-galeria";
@import"section-formulario";
@import"section-nosotros";